.tekstBoks{
    margin-bottom: 2rem;
    margin-left: 1.15rem;
    font-size: 1.5rem;
    font-family: Sans-Serif;
 
 }       
 .skriveTest{
     background-color: brown;
     padding: 1rem;
     margin: 1rem;
     border-radius: 1rem;
     width: 50%;
     margin-top: 15%;
     margin-left: 25%;
 }
 #timer{
     font-size: 6rem;
     font-weight: bold;
     color: yellowgreen;
 }
 #inputFelt{
     height: 12rem;
     width: 100%;
     background-color: transparent;
     border: 2px solid rgb(11, 231, 88);
     margin: auto;
     resize: none;
     border-radius: 1rem;
     padding: 1rem;
     font-size: 1.5rem;
     font-family: Sans-Serif;
 
 }