.faqDiv{
  width: 65%;
  margin:auto;
  border: 5px solid black;
  border-radius: 15px;
}
.spm{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
h2{
  color: #6563DC !important;
  font-weight: 1000 !important;    
  font-size: 35px !important;
  text-align: center;
  padding: 2rem;
}

h4 {
  font-weight: bolder !important;
  color: #6563DC !important;
  margin-bottom: .1rem !important;


}
p{
  margin-top: .1rem !important;
  font-weight: 700 !important;
}

html, body{
  overflow: auto !important;
}

