h2{
  color: #6563DC !important;
  font-weight: 1000 !important;    
  margin-top: 50px !important; 
  margin-bottom: 50px !important;
  font-size: 30px !important;
  margin-left: 50px !important;
}

h4 {
  margin-left: 50px !important;
  font-weight: bold !important;

}

p {
  margin-left: 50px !important;
}