body,
html {
  overflow: visible !important;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 20px;
  background-color: #aee4ad !important;
}
.row {
  margin-left: 10%;
}
/* Clear floats after the columns */
.container::after,
.row::after {
  content: '';
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 40%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 80%;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #93db92;
  border: 5px ridge black;
  border-radius: 10px;
  text-align: center;
}

.title {
  color: black;
}

.button {
  padding: 5px;

  color: white;
  background-color: rgb(11, 11, 11);
  border: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;

  text-align: center;
  cursor: pointer;
  width: 94%;
}

#overskrift {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #6563dc;
  font-weight: 1000;
  font-size: 35px;
}

p {
  font-weight: 540;
}

.h3 {
  font-weight: 600;
}

img {
  border-radius: 5px;
  width: 100.3%;
}

svg {
  cursor: pointer;
  padding: 2px;
}