/*Fyll bakgrunnen med bilde*/
#bakgrunn {
    height:100%;
    width:100%;
    background-size: 100% 100%;
}

.velkomst {
  position: absolute;
  width: 100%;
}

.top {
  position: absolute;
  top: 260px;
  left: 420px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

.center {
  position: absolute;
  top: 350px;
  left: 570px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;

}

.bottom {
  position: absolute;
  top: 410px;
  left: 670px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

.btn {
  color: red;
  border: none;
  background-color: inherit;
}

.hvitTekst{
 color: white;
}

