/*bildene*/
.container {
    position: relative;
    margin-top: 90px;
    margin-bottom: 50px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    

    display: inline-block;

    height: 100%;
 
    background-color: #596259 !important;

    text-align: center;
    width: 25%;

    transition: width 1s, height 1s;
    
}

/*Boksen blir større når musen er over*/
.container:hover {
  width: 30%;
  height: 30%;
  cursor: pointer;
}



/* Make the image responsive */
.container img {
    width: 100%;
    opacity: 80%;
    box-shadow: 0 10px 10px 0 #888888;
    border-radius: 30px;


    
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
 /*Posisjonen til teksten på bildene*/
  .centered {
    position: absolute;
    
    font-size: 30px;
    font-weight: bold;

    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
  }


.right {
    position: absolute;

    font-size: 30px;
    font-weight: bold;

    top: 20%;
    left: 62%;
    transform: translate(-70%,30%);
  }

  .left {
    position: absolute;

    font-size: 30px;
    font-weight: bold;

    top: 25%;
    left: 45%;
    transform: translate(-30%,70%);
  }



  .overskrift {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #6563DC;
    font-weight: 1000;
    font-size: 35px;
}

  .underOverskrift {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #6563DC;
    font-weight: 1000;
    font-size: 25px;
}

.w3-row-padding{
  display: flex;
  justify-content: center;
}