/*Fyll bakgrunnen med bilde*/
#bakgrunn {
    height:100%;
    width:100%;
    background-size: 100% 100%;
}

.top {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 30px;
  font-weight: bold;
  width: 60%;
  margin-bottom: 1rem !important;
  margin: auto;
}

.center {
  position: absolute;
  top: 60%;
  left: 35%;
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-bottom: 1rem !important;

  margin: auto;

}

.bottom {
  position: absolute;
  top: 67%;
  left: 45%;
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-bottom: 1rem !important;

  margin: auto;

}

.btn {
  color: red;
  border: none;
  background-color: inherit;
}

.hvitTekst{
 color: white;
}


