
/* Nedtelling og poeng */

.tid_poeng{
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #6563DC;
}

/* Der selve sitatet kommer */

.sitat{
    font-size: 1.5rem;
    font-family: Sans-Serif;
    padding: 1rem;
    margin-left: 1.35rem !important; 
 
 }    
 
/* Området i grått, div'en som omslutter .sitat og #inputFelt */
 
 .skriveTest{
     background-color: rgb(130, 121, 121);
     border: 5px solid #6563DC;
     border-radius: 1rem;
     width: 50%;
     margin-left: 25%;
     margin-top: 3rem;
     text-align: center;
     
 }

/* Feltet brukeren skriver inn i */

 #inputFelt{
     background-color: transparent;
     border: 3px solid #6563DC;
     font-size: 1.5rem;
     font-family: Sans-Serif;
     height: 12rem;
     resize: none;
     border-radius: 1rem;
     margin-bottom: 1rem;
     width: 90%;
     display: inline-block;
 
 }
 
/* Klasse som settes til bokstav hvis input stemmer */

.riktig{
    color: green;
}

/* Klasse som settes til bokstav hvis input er feil */

.feil{
    color: red;
    text-decoration: underline;
}

.myclass{
    background-color: red;
}