body {
  background-color: #AEE4AD !important;
  overflow-y: scroll; }

#overskrift{
    font-size: 3rem;
    font-weight: bold;
     color: #6563DC;
    text-align: center;
}
#underOverskrift{
    font-size: 1.5rem;
    font-weight: bold;
     color: #6563DC;
     text-align: center;
     margin-bottom: 20px;
}

.flexbox{
  display: flex;} 

.rightColumn {
  flex: 1; }

.leftColumn {
  flex: 1;
  margin-left: 30%; }

#div1, #div2, #div3, #div4, #div5 {
    width: 100px;
    height: 35px;
    border: 3px solid black;
    border-radius: 5px;
    
  }


  .pVenstre{
    text-align: center;
    margin-top: 2px;
  }
  p{
    margin-top: 8px;
  }


  